<div class="d-flex align-items-center">
  <h1>掲示板作成</h1>
  <div class="ml-auto boards__linkBox">
    <%= link_to '一覧', boards_path, class: 'btn btn-outline-dark' %>
  </div>
</div>
<% #パーシャル使用。_form.html.erbを呼び出し。 %>
<%= render partial: 'form', locals:{board:@board} %>